<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide carousel-fade">

        <!-- Carousel outer -->
        <div class='carousel-outer'>

            <!-- Services List Indicators -->
            <div class='carousel-services-wrapper'>
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0"><span>Welcome!</span></li>
                    <li data-target="#main-slide" data-slide-to="1"><span>Educational</span></li>
                    <li data-target="#main-slide" data-slide-to="2"><span>Commercial</span></li>
                    <li data-target="#main-slide" data-slide-to="3"><span>Government</span></li>
                    <li data-target="#main-slide" data-slide-to="4"><span>Hotel</span></li>
                    <li data-target="#main-slide" data-slide-to="5"><span>Medical/Dental</span></li>
                    <li data-target="#main-slide" data-slide-to="6"><span>Multifamily</span></li>
                    <li data-target="#main-slide" data-slide-to="7"><span>Religious</span></li>
                    <li data-target="#main-slide" data-slide-to="8"><span>Restaurant</span></li>
                    <li data-target="#main-slide" data-slide-to="9"><span>Retail</span></li>
                </ol>
            </div>


            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-blueprint.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1"><span>Welcome To</span><br />Saber Engineering</h1>
                            <h5 class="animated2">We are pleased to offer Design and Consulting Engineering services for a wide range of building types.<br /><br />

                            We provide Engineering for Mechanical, Electrical, Plumbing and Fire Protection systems.<br /><br />

                            We are LEED AP, and can provide BIM projects with Revit software.<br /><br />

                            We have worked on projects all across the USA as we are registered in nearly 40 states.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-educational.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Educational</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-commercial.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Commerical</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-government.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Government</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-hotel.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Hotel</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-medicaldental.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Medical &amp; Dental</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-multifamily.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Multi-family</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-religious.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Religious</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-restaurant.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Restaurant</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <!-- Slider Image -->
                    <img class="img-responsive" src="../../../img/bg/slider-top/md/slide-retail.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12">
                            <h1 class="animated1">Retail</h1>
                            <h5 class="animated2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->
        </div>
        <!-- Carousel outer end-->

    </div>
</section>
