// GLOBAL FONT VARIABLES
// 'Aldrich', sans-serif; <-- closest to Saber logo font
// 'Michroma', sans-serif;
// 'Syncopate', sans-serif;
// 'Lato', sans-serif; <-- nice, compact font
$font-family-default: 'Lato', sans-serif;
$font-family1: 'Lato', sans-serif;
$font-family2: 'Michroma', sans-serif;
$font-family3: 'Michroma', sans-serif;
