// Form Style
// ------------------------------
.form-group {
  margin-bottom: 20px;
}

.form-control {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $color-white;
  color: $color-white;
  font-size: 13px;
  font-weight: normal;
  height: 42px;
  letter-spacing: .1rem;
  letter-spacing: 1px;
  letter-spacing: 1px;
  line-height: 21px;
  padding: 10px;
  transition: all .3s ease-in-out 0s;
}

.form-control::-webkit-input-placeholder {
  color: $color-white;
}

.form-control::-moz-placeholder {
  color: $color-white;
}

.form-control:-ms-input-placeholder {
  color: $color-white;
}

.form-control::placeholder {
  color: $color-white;
}
