doctype html
html.no-js(lang='en')
  head
    // Site Title
    title Saber Engineering | Mechanical. Electrical. Plumbing.

    // Site Meta Info
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Saber Engineering: Mechanical. Electrical. Plumbing. Charlotte, NC')
    meta(name='keywords', content='Saber, Engineering, engineering, engineers, mechanical, electrical, plumbing, design, consulting, LEEP, BIM, REVIT, charlotte, nc')
    meta(name='author', content='emveeoh.com')

    // CSS Vendor Files
    link(rel='stylesheet', href='css-vendor/font-awesome.min.css')

    // CSS Saber Custom File
    link(rel='stylesheet', href='css/unsupported.min.css')

    // Google Web Fonts
    link(href='https://fonts.googleapis.com/css?family=Aldrich', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Michroma', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Syncopate', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')


  body
    .wrap
      .left
        .right
        h1 Oops...
        h2 This browser is not supported.
        div
          p It seems that you are visiting us with an outdated or otherwise unsupported web broswer.
          p You may click here to contiue, but elements on this site may not work or appear correctly.
          p Please update to a newer browser for the best experience.
